<ion-header-bar class="bar-light">
  <h1 class="title">Kol'R</h1>
</ion-header-bar>
<ion-content class="padding has-header call-view" ng-controller="CallController as call_ctrl">


  <h1 class='hello'>
    Hello <strong>{{ username }}</strong>
  </h1>
  <div class="list" ng-hide="currentCall">
    <label class="item item-input">
      <span class="input-label">Contact Username</span>
      <input type="text" ng-model="contact_username">
    </label>
  </div>

  <div ng-if="currentCall">
    <video id="contact-video" autoplay></video>
    <video id="local-video" autoplay muted></video>
  </div>
   

  <button class="button button-balanced  icon-left ion-android-call col-50 col-offset-25 button-block" ng-hide="currentCall"  ng-click="startCall()">
    Call
  </button>
  <button class="button button-assertive  icon-left ion-stop col-50 col-offset-25 button-block" ng-show="currentCall"  ng-click="endCall()">
    End call
  </button>
</ion-content>